<p id="notice"><%= notice %></p>

<h1>Listing User To Items</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_to_items.each do |user_to_item| %>
      <tr>
        <td><%= user_to_item.user_id %></td>
        <td><%= user_to_item.item_id %></td>
        <td><%= link_to 'Show', user_to_item %></td>
        <td><%= link_to 'Edit', edit_user_to_item_path(user_to_item) %></td>
        <td><%= link_to 'Destroy', user_to_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User to item', new_user_to_item_path %>
